[Unit]
Description=Zabbix Telegram Bot
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
PIDFile=/var/run/zabbix/zabbix-telegram.pid
ExecStart=/usr/bin/python3 /usr/local/bin/zabbix-telegram/main.py > /var/log/zabbix/zabbix-telegram.log
ExecStop=/bin/kill $MAINPID
KillMode=process
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target